doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container
      block content
      block footer
    footer 
      h3 Created with Contentful
      div.footerLinks
        a(href='https://www.contentful.com/developers/docs/javascript/') Read Documentation
        a(href="https://github.com/contentful/starter-javascript-cookbook") View on GitHub
