extends layout

block content
  h1= recipe.fields.title
  p.subtitle= recipe.fields.description
  - var imageSrc = image
  div.cover
    img(src=imageSrc alt=altText width="300")
  div.recipe
    div
      h2 Ingredients
      != ingredients
    div
      h2 Instructions
      != instructions

