extends layout

block content
  h1= recipe.fields.title
  p= recipe.fields.description
  - var imageSrc = image
  img(src=imageSrc alt=altText width="100")
  h2 Ingredients
  != ingredients
  h2 Instructions
  != instructions

